body{
    font-family: Arial, sans-serif;
    background: url('./assests/img/pic.jpg') no-repeat center center fixed;
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    opacity: 0.8; 

  }

.card{
    background:transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 50px rgba(5, 5, 5, 0.1);
    width: 300px;
    border: 1px solid rgb(48, 47, 46);
    text-align: center;
}
.card2{
    background:rgb(165, 121, 121);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 50px rgba(5, 5, 5, 0.1);
    width: 300px;
    border: 1px solid rgb(48, 47, 46);
    text-align: center;
}
.input{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #302f2f;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
    background:transparent;
    font-size: larger;
    
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #9c7777;
    color: rgb(12, 11, 11);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .button:hover {
    background-color: #f1bdbd;
  }
  p {
    text-align: center;
    color: rgb(247, 244, 244);
    margin-top: 10px;
  }
  h1{
    font-size:xx-large;
    font-weight:900;
  }

  @media (max-width: 600px) {
    body {
        padding: 10px; 
    }

    .card, .card2 {
        width: 100%; 
        padding: 20px;
    }

    .input {
        font-size: 16px; 
    }

    .button {
        font-size: 16px; 
        padding: 12px; 
    }

    h1 {
        font-size: large; 
    }

    p {
        font-size: 14px; 
    }
}


